/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html, button, input, select, textarea {
	color: #222;
}
body {
	font-size: 1em;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	/*line-height: 1.4;*/
	width: 100%;
	background-color: #FFF;
}

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.random {
	color: black;
}
@font-face {
	font-family: 'Nexa Bold';
 src: url(../fonts/Nexa Bold.otf);
}
/*#container {
    margin: 0 auto;
    width: 1200px;
}*/

/*#logo {
    float: right;
}*/

.row {
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
header {
	 min-height: 768px;
	background-color: #f4f4f4;
	float: left;
	width: 24%;
	margin-right: 4%;
}

#navWrapper{
	margin-top: 6em;
	margin-right: 1.56em;
	margin-left: 1.56em;
	width: 100%;

}

ul {
    padding-left: 20px;
}

nav h1 {
	/*font-family: "Arial Black", Gadget, sans-serif;*/
	font-size: 1em;
	/*line-height: 145%;*/
	color: #000;	
    font-family: 'Nexa Bold';
    /*font-family: 'Helvetica Neue', Helvetica, sans-serif;*/
    letter-spacing: -0.5px;
    font-size: 26px;
}
nav a {
	color: #333;
	text-decoration: none;
    font-size: 18px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*text-align: left;*/
    /*font-family: 'Helvetica Neue', Helvetica, sans-serif;*/
    line-height: 32px;
    letter-spacing: -0.5px;
}
#logo {
	float: right;
	margin-top: 1.75em;
	margin-right: 1.56em;
    height: 126px;
    width: 377px;
}
#columnOne {
	min-height: 688px;
	min-width: 350px;
	width: 25%;
	float: left;
	/* background-color: #666; */
	margin-top: 133px;
	margin-right: 5%;
}
#columnOne h1, #columnTwo h1 {
	padding: 10px;
	background-color: #999;
}
#columnTwo {
	width: 38%;
	background-color: #999;
	float: left;
	}
#title {
	font-family: 'Nexa Bold', 'Helvetica', sans-serif;
	font-size: 40px;
	background: -webkit-linear-gradient(#000, #CCC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.right-arrow {
    padding-left: 12px;
    visibility: hidden;
}

text.expend-dept, text.expend-percent {
	position: absolute;
	z-index: 1000;
	font-weight: 100;
}
div.expenditures-chart {
	position: relative;
	left:-100px;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
}
 @media print,  (-o-min-device-pixel-ratio: 5/4),  (-webkit-min-device-pixel-ratio: 1.25),  (min-resolution: 120dpi) {
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
 *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
}
a,  a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
/*
     * Don't show links for images, or javascript/internal links
     */

.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
	content: "";
}
pre,  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group; /* h5bp.com/t */
}
tr,  img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
 margin: 0.5cm;
}
p,  h2,  h3 {
	orphans: 3;
	widows: 3;
}
h2,  h3 {
	page-break-after: avoid;
}
}
