/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html, button, input, select, textarea {
	color: #222;
}
body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	background-color: #FFF;
}
a:active {
	outline: none;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #64656a;
	padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#columnOne {
	width: 25%;
	float: left;
	margin-top: 10.6255em;
	margin-right: 5%;
	position: relative;
}



.wrapper {
	width: 1140px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
header {
	min-height: 1264px;
	background-color: #f4f4f4;
	float: left;
	width: 24%;
	margin-right: 4%;
}
#navWrapper {
	margin-top: 7.8125em;
	margin-right: 1em;
	margin-left: 1em;
	width: 100%;
}
nav h1 {
	line-height: 145%;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.38em;
	margin-top: 0px;
	text-transform: uppercase;
	font-weight: 500;
}
nav a {
	color: #64656A;
	text-decoration: none;
	font-size: .875em;
	line-height: 145%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	}
#logo {
	float: right;
	margin-top: 1.75em;
	margin-right: 1.56em;
	height: 126px;
	width: 377px;
}

.columnWrapper{
	background-color: #FFf;
	min-height: 1264px;
	}
#department-name {
	position: absolute;
	top: -1.9375em;
	font-size: 1.38em;
	font-weight: 300;
	width: 500px;
	color: #000;
	}


#columnOne {
	width: 25%;
	float: left;
	margin-top: 10.6255em;
	margin-right: 5%;
	position: relative;
}
#columnOne h1, #columnTwo h1 {
	color:#64656a;
	font-size: 1.38em;
	margin-bottom: none !important;
}
#columnTwo {
    width: 38%;
	float: left;
	position: relative;
	top: 1.125em;
}
#columnOne h2 {
	font-size: 1.38em;
	font-weight: 300;
	color: #64656a;
	margin-top: .5em;
}
#columnTwo h2 {
	font-size: 1.38em;
	font-weight: 300;
	color: #64656a;
	margin-top: 1.1875em;
}
.right-arrow {
	padding-left: 10px;
	display: none;
}
text.expend-dept, text.expend-percent {
	font-size: .875em;
	color: #64656A;
	font-family: Arial, Helvetica, sans-serif;
}
.expenditures-chart {
	position: relative;
	left: -89px;
	width: 100%;
	height: 0px;
	padding-bottom: 100%;
}
.expenditures-chart h1 {
	font-size: 1.618em;
}
.salary-dist {
	width: 100%;
}
.salaries-table td, div.vendors-table td {
	border-bottom: 1px #64656a dotted;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	line-height: 145%;
}
table {
	width: 100%;
	margin-bottom: 4em;
}
tr:nth-child(even) {
	background: #f4f4f4;
}
td {
	font-size: 1em;
	color: #64656A;
	padding-left: .5em;
	padding-right: .5;
}
h1 {
	padding-left: 0;
	font-weight: 200;
	margin-top: 0px;
	padding-top: 0px;
}

/* ==========================================================================
   LA Controller Audit Styles custom styles
   ========================================================================== */
#columnOne {
	width: 65%;
	float: left;
	margin-top: 10.6255em;
	margin-right: 5%;
	position: relative;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
 @media only screen and (min-width: 1024px) {



}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
 *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
/*
     * Don't show links for images, or javascript/internal links
     */

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group; /* h5bp.com/t */
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
 margin: 0.5cm;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
}
.bar rect {
	fill: steelblue;
	shape-rendering: crispEdges;
}
.bar text {
	fill: #fff;
}
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
